@media screen and (max-width: 1512px) {

    /*----------------------------------------------------------------------------------------------------------- MAP */

    #tooltip {
        width: 160px;
    }

    #tooltip.active {
        font-size: 14px;
    }

    #tooltip .title {
        padding-bottom: 2px;
    }

    #tooltip .place {
        padding-top: 2px;
    }

    /*------------------------------------------------------------------------------------------------------- CONTENT */

    #header h1 {
        font-size: 72px !important;
    }

    #content .list, #content .description {
        height: 100%;
    }

    #content .list a {
        font-size: 14px;
    }

    #content .description {
        height: 100%;
        padding: 5.1% 10.2% 5.7% 7.1%;
    }

    #content .description h2 {
        font-size: 16px;
    }

    #content .description p {
        font-size: 12px;
    }

}