@media (max-width: 1512px) {

    /*----------------------------------------------------------------------------------------------------------- MAP */

    #tooltip {
        width: 160px;
    }

    #tooltip.active {
        font-size: 14px;
    }

    #tooltip .title {
        padding-bottom: 2px;
    }

    #tooltip .place {
        padding-top: 2px;
    }

    /*------------------------------------------------------------------------------------------------------- CONTENT */

    #header h1 {
        font-size: 72px !important;
    }

    #content .list, #content .description {
        height: 100%;
    }

    #content .list a {
        font-size: 14px;
    }

    #content .description {
        height: 100%;
        padding: 5.1% 10.2% 5.7% 7.1%;
    }

    #content .description h2 {
        font-size: 16px;
    }

    #content .description p {
        font-size: 12px;
    }

}

@media (max-width: 1248px) {

    .hide-1248px {
        display: none;
    }

    /*---------------------------------------------------------------------------------------------------- NAVIGATION */

    #logo {
        display: none;
    }

    #navigation .nav-flex {
        flex: 0 0 40%;
    }

    /*------------------------------------------------------------------------------------------------------- CONTENT */

    #content .list {
        padding: 0 53px 0 0;
    }

}

@media (max-width: 768px) {

    /*---------------------------------------------------------------------------------------------------- NAVIGATION */

    #navigation {
        display: none;
    }

    /*----------------------------------------------------------------------------------------------------------- MAP */

    #map img, #points {
        position: fixed;
        top: -98px;
        left: -568px;
        width: 300%;
        height: 100%;
        min-width: 300%;
        min-height: 100%;
    }

    #tooltip {
        width: 210px;
        font-size: 20px !important;
    }

    /*------------------------------------------------------------------------------------------------------- CONTENT */

    #header {
        top: 68px;
        left: 58px;
    }

    #header h1 {
        font-size: 80px !important;
    }

    #content {
        top: 228px;
        width: 81.25%;
        height: auto;
        margin: 0 9.375%;
        padding: 0;
    }

    #content .row {
        flex-direction: column;
    }

    #content > .row > .col {
        margin-bottom: 81px;
    }

    #list.row {
        flex-direction: row;
    }

    #content .list, #content .description {
        height: 30%;
    }

    #content .list a {
        top: 0;
        font-size: 26px !important;
    }

    #content .description {
        padding: 47px 50px 46px 50px;
    }

    #content .description h2 {
        margin-bottom: 18px;
        font-size: 28px !important;
    }

    #content .description p {
        font-size: 20px !important;
    }

}