@media (max-width: 1512px) {

    /*---------------------------------------------------------------------------------------------------- NAVIGATION */

    #navigation .nav-flex .nav-flex-item.extra-padding {
        padding-right: 0;
    }

    #navigation i {
        margin-right: 1em;
    }

    /*----------------------------------------------------------------------------------------------------------- MAP */

    #tooltip {
        width: 160px;
    }

    #tooltip.active {
        font-size: 14px;
    }

    #tooltip .title {
        padding-bottom: 2px;
    }

    #tooltip .place {
        padding-top: 2px;
    }

    /*------------------------------------------------------------------------------------------------------- CONTENT */

    #header h1 {
        font-size: 72px !important;
    }

    #content .list, #content .description {
        height: 100%;
    }

    #content .list a {
        font-size: 14px;
    }

    #content .description {
        height: 100%;
        padding: 5.1% 10.2% 5.7% 7.1%;
    }

    #content .description h2 {
        font-size: 16px;
    }

    #content .description p {
        font-size: 12px;
    }

}

@media (max-width: 1248px) {

    .hide-1248px-width {
        display: none;
    }

    /*---------------------------------------------------------------------------------------------------- NAVIGATION */

    #logo {
        display: none;
    }

    #navigation .nav-flex {
        flex: 0 0 40%;
    }

    /*------------------------------------------------------------------------------------------------------- CONTENT */

    #content .list {
        padding: 0 53px 0 0;
    }

}

@media (max-width: 768px) {

    /*---------------------------------------------------------------------------------------------------- NAVIGATION */

    #navigation {
        display: none;
    }

    /*----------------------------------------------------------------------------------------------------------- MAP */

    #map img, #points {
        top: -98px;
        left: -568px;
        width: 300%;
        height: 100%;
        min-width: 300%;
        min-height: 100%;
    }

    #tooltip {
        width: 210px;
        font-size: 20px !important;
    }

    /*------------------------------------------------------------------------------------------------------- CONTENT */

    #header {
        top: 6.44%;
        left: 9.05%;
    }

    #header h1 {
        font-size: 80px !important;
    }

    #content {
        top: 21.6%;
        width: 81.25%;
        height: auto;
        margin: 0 9.375%;
        padding: 0;
    }

    #content .row {
        flex-direction: column;
    }

    #content > .row > .col {
        margin-bottom: 81px;
    }

    #list.row {
        flex-direction: row;
    }

    #content .list a {
        top: 0;
        font-size: 26px !important;
    }

    #content .description {
        padding: 47px 50px 46px 50px;
    }

    #content .description h2 {
        margin-bottom: 18px;
        font-size: 28px !important;
    }

    #content .description p {
        font-size: 20px !important;
    }

}

@media (max-width: 624px) {

    /*------------------------------------------------------------------------------------------------------- CONTENT */

    #header h1 {
        font-size: 64px !important;
    }

    #content > .row > .col {
        margin-bottom: 20px;
    }

    #content .list {
        padding: 0 32px 0 0;
    }

    #content .list a {
        font-size: 22px !important;
    }

    #content .description {
        padding: 20px;
    }

    #content .description h2 {
        margin-bottom: 12px;
        font-size: 24px !important;
    }

    #content .description p {
        font-size: 16px !important;
    }

}

@media (max-width: 472px) {

    /*----------------------------------------------------------------------------------------------------------- MAP */

    #map img, #points {
        top: -30px;
    }

    #tooltip {
        width: 120px;
        font-size: 12px !important;
    }

    /*------------------------------------------------------------------------------------------------------- CONTENT */

    #header {
        position: relative;
        left: auto;
        width: 260px;
        margin: auto;
    }

    #header h1 {
        font-size: 40px !important;
    }

    #content {
        top: 18%;
    }

    #content .list {
        padding: 0 20px 0 0;
    }

    #content .list a {
        font-size: 16px !important;
    }

    #content .description h2 {
        margin-bottom: 8px;
        font-size: 16px !important;
    }

    #content .description p {
        font-size: 12px !important;
    }

}

@media (max-height: 520px) {

    /*------------------------------------------------------------------------------------------------------- CONTENT */

    #header {
        top: 17.5%;
    }

    #header h1 {
        font-size: 64px !important;
    }

    #content {
        bottom: 27.5%;
    }

    #content .list a {
        font-size: 14px !important;
    }

    #content .description h2 {
        margin-bottom: 8px;
        font-size: 14px !important;
    }

    #content .description p {
        font-size: 12px !important;
    }

}

@media (max-height: 520px) and (max-width: 768px) {

    /*----------------------------------------------------------------------------------------------------------- MAP */

    #map img, #points {
        top: 0;
    }

    #tooltip {
        width: 160px;
        font-size: 14px !important;
    }

    /*------------------------------------------------------------------------------------------------------- CONTENT */

    #content {
        display: none;
    }

    #content-extra-small {
        display: block;
    }

    #content-extra-small > .row > .col {
        margin-bottom: 0;
    }

    #content-extra-small .list {
        padding-right: 40px;
    }

    #content-extra-small .list a {
        font-size: 16px !important;
    }

}