@font-face {
    font-family: "GothamBold";
    src: url("../fonts/Gotham-Bold.otf");
}

@font-face {
    font-family: "GothamBookRegular";
    src: url("../fonts/GothamBookRegular.otf");
}

@font-face {
    font-family: "GothamMedium";
    src: url("../fonts/GothamMedium.otf");
}

@font-face {
    font-family: "NimbusSansDOT-Bold";
    src: url("../fonts/NimbusSansDOT-Bold.otf");
}

body {
    color: #fff;
    background-color: #9d0a0f;
    font-size: 14px;
}

.row {
    margin: 0;
}

.col {
    padding: 0 22px;
}

a {
    color: #fff;
}

a:hover {
    color: #e25a5f;
    text-decoration: none;
}

/*-------------------------------------------------------------------------------------------------------- NAVIGATION */

#logo {
    position: absolute;
    top: 44px;
    left: 44px;
    z-index: 10;
}

#navigation {
    position: absolute;
    top: 44px;
    width: 100%;
    height: 44px;
    margin: 0;
    padding: 0 110px;
    font-family: "GothamBookRegular", sans-serif;
    z-index: 10;
}

#navigation .nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

#navigation .nav-flex .nav-flex-item {
    flex: 0 0 auto;
    font-size: 12px;
}

#navigation .nav-flex .nav-flex-item .extra-padding {
    padding-right: 27px;
}

/*--------------------------------------------------------------------------------------------------------------- MAP */

#map {
    position: relative;
}

#map img, #map #points {
    width: 100%;
    height: auto;
    max-width: 100%;
}

#map img {
    position: absolute;
    z-index: 1;
}

#map #points {
    position: relative;
    z-index: 2;
}

#map .point {
    fill: #8d080f;
    stroke: transparent;
}

#map .point.active {
    fill: #fff;
}

#map #map-tooltip {
    position: absolute;
    z-index: 3;
    opacity: 0;
}

#map #map-tooltip .title {
    font-family: "GothamMedium", sans-serif;
}

#map #map-tooltip .desc {
    font-family: "GothamBookRegular", sans-serif;
}

#map #map-tooltip.active {
    opacity: 1;
}

#map #map-tooltip .line {
    width: 100%;
    height: 2px;
    background: #fff;
}

a, .point, #map-tooltip, #header { /*----------------------------------------------- "#header" from CONTENT */
    transition: all 300ms ease;
}

/*----------------------------------------------------------------------------------------------------------- CONTENT */

#header {
    position: absolute;
    top: 328px;
    left: 132px;
    font-family: "GothamMedium", sans-serif;
    z-index: 10;
}

#header h1 {
    margin: 0;
    font-size: 90px !important;
}

#header.hide {
    opacity: 0;
}

#content {
    position: absolute;
    bottom: 88px;
    width: 100%;
    height: 231px;
    margin: 0;
    padding: 0 110px;
    font-family: "GothamBookRegular", sans-serif;
    z-index: 10;
}

#content .list {
    flex: 0 0 20%;
    padding: 0 88px 0 0;
}

#content .list a {
    position: relative;
    top: -9px;
    display: block;
    font-size: 20px;
    line-height: 1.8;
}

#content.selected a {
    color: #5e0609;
}

#content.selected a.activated {
    color: #fff;
}

#content .description {
    padding: 47px 72px 53px 50px;
    border: 3px solid #fff;
}

#content .description h2 {
    margin-bottom: 36px;
    font-size: 20px;
}

#content .description p {
    margin: 0;
    font-size: 16px;
    font-family: "GothamBookRegular", sans-serif;
    line-height: 1.8;
}