@font-face {
    font-family: "GothamBold";
    src: url("../fonts/Gotham-Bold.otf");
}

@font-face {
    font-family: "GothamBookRegular";
    src: url("../fonts/GothamBookRegular.otf");
}

@font-face {
    font-family: "GothamMedium";
    src: url("../fonts/GothamMedium.otf");
}

@font-face {
    font-family: "NimbusSansDOT-Bold";
    src: url("../fonts/NimbusSansDOT-Bold.otf");
}

body {
    color: #fff;
    background-color: #9d0a0f;
    font-size: 14px;
}

.col {
    padding: 0 22px;
}

a {
    color: #fff;
}

a:hover {
    color: #e25a5f;
    text-decoration: none;
}

/*-------------------------------------------------------------------------------------------------------- NAVIGATION */

.logo {
    position: absolute;
    top: 44px;
    left: 44px;
    z-index: 10;
}

.wraper-1 {
    position: absolute;
    top: 44px;
    width: 100%;
    margin: 0;
    padding: 0 110px;
    font-family: "GothamBold", sans-serif;
    z-index: 10;
}

.wraper-1 p {
    font-family: "GothamBookRegular", sans-serif;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
}

.nav-flex-item {
    flex: 0 0 auto;
}

/*--------------------------------------------------------------------------------------------------------------- MAP */

.map {
    position: relative;
}

.map img, .map #points {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.map img {
    position: absolute;
    z-index: 1;
}

.map #points {
    position: relative;
    z-index: 2;
}

.map .point {
    fill: #8d080f;
    stroke: transparent;
}

.map .point.active {
    fill: #fff;
}

.map #map-tooltip {
    position: absolute;
    z-index: 3;
    opacity: 0;
}

.map #map-tooltip.active {
    opacity: 1;
}

.map #map-tooltip .line {
    width: 100%;
    height: 2px;
    background: #fff;
}

a, .point, #map-tooltip, .h1 { /*------------------------------------------------------- ".h1" from CONTENT */
    transition: all 300ms ease;
}

/*----------------------------------------------------------------------------------------------------------- CONTENT */

.h1, .wraper-2 {
    font-family: "GothamMedium", sans-serif;
}

.h1 {
    position: absolute;
    top: 200px;
    left: 100px;
    z-index: 10;
}

.hide {
    opacity: 0;
}

.wraper-2 {
    position: absolute;
    bottom: 88px;
    width: 100%;
    margin: 0;
    padding: 0 110px;
    z-index: 10;
}

.list {
    display: inline-block;
    margin: 0;
    padding: 0 103px 0 0;
    list-style-type: none;
}

.wraper-2.selected a {
    color: #5e0609;
}

.wraper-2.selected a.activated {
    color: #fff;
}

.text-description {
    margin: 0 22px;
    padding: 49px 82px 51px 50px;
    border: 3px solid #fff;
}

.text-description p {
    font-family: "GothamBookRegular", sans-serif;
}